body{
    -webkit-text-size-adjust: 100%;
    background-color:rgb(238, 237, 237) ;
    margin-left: 443px;
    margin-right: 800px;
    margin-bottom: 150px;
}
h1 {
    font-family: 'Roboto Condensed';
    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
    font-style: normal;
    display: block;
    }
    .autor{
        font-size: 13px;
    }

h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;    
        }

.Links {
    color: #DC191B;
    font-family: 'Open Sans', sans-serif;
    
    }

 .Links:link {
    text-decoration: none;
  }
  
 .Links:visited {
    text-decoration: none;
  }
  
  .Links:hover {
    text-decoration: underline;
  }
  
  .Links:active {
    text-decoration: underline;
  }
#salto{
    visibility: hidden;
}

.logo:hover{
    text-decoration: none;
    opacity: 0.8;
    
}

p   {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;    
    
}

ul  {
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;    
    margin: 0px;
    padding-left: 0px;
}

li  {
    vertical-align: baseline;
    text-align: -webkit-match-parent;
    list-style: disc inside none;
    font-size: 16px;
    line-height: 1.5;
}

#videoDiablo{
    height: 400px;
    width: 660px;
}

#logoReddit{
    height: 28px;
    width: 28px;
}

.logo{
    height: 30px;
    width: 30px;
}

.logoComments{
    height: 30px;
    width: 120px;
    border-left: solid 1px #0F1618;
    padding-left: 8px;
    margin-left: 8px;
}

